---
const year = new Date().getFullYear()
---

<footer class="footer">
  <p>© {year} Zen Budget. All rights reserved.</p>
  <p>
    <a href="/privacy-policy">Privacy Policy</a>
  </p>
  <p>
    Contact:
    <a href="mailto:zenbudgetpro@gmail.com">zenbudgetpro@gmail.com</a>
  </p>
</footer>

<style>
  .footer {
    border-bottom: 4px solid var(--border);
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  @media (width < 768px) {
    .footer {
      flex-direction: column;
    }
  }
</style>
