<header class="header">
  <img class="logo" src="/zen-budget-logo.png" />
  <h1 class="header__title">
    <a href="/">Zen Budget</a>
  </h1>
</header>

<style>
  .header {
    border-bottom: 4px solid var(--border);
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .logo {
    aspect-ratio: 1/1;
    height: 64px;
  }

  .header__title {
    a {
      color: var(--text);
      font-style: normal;
      text-decoration: none;
    }
  }
</style>
