<main>
  <section>
    <h2>Introduction</h2>
    <p>
      This application is a personal project developed to improve my skills and
      provide users with a simple tool to manage their finances.
    </p>
    <p>
      User privacy is very important, and this application does not collect or
      share personal information.
    </p>
  </section>

  <section>
    <h2>Local storage</h2>
    <p>
      All information created or entered in the application is stored
      exclusively locally on the device using SQLite.
    </p>
    <p>
      The application does not send data to external servers nor use third-party
      services.
    </p>
  </section>

  <section>
    <h2>Advertising and tracking</h2>
    <p>
      The application does not display ads, does not track users, and does not
      collect data for commercial purposes.
    </p>
  </section>

  <section>
    <h2>Voluntary support</h2>
    <p>
      If you would like to support the project, you can do so optionally at
      <a href="https://ko-fi.com/M4M81QSXR0" target="_blank" style="text-decoration: none;">
        <img
          height="36"
          style="height:28px; border:0; vertical-align: middle;margin:0 4px"
          src="https://storage.ko-fi.com/cdn/kofi5.png?v=6"
          alt="Buy Me a Coffee at ko-fi.com"
        />
      </a>. Your support helps maintain the application and continue improving
      it with new features.
    </p>
  </section>

  <section>
    <h2>Contact</h2>
    <p>
      For inquiries or comments, you can contact me via email:
      <a href="mailto:zenbudgetpro@gmail.com">zenbudgetpro@gmail.com</a>.
    </p>
  </section>
</main>
